In [198]:
import pandas as pd

In [199]:
pd.set_option("mode.chained_assignment", None)

In [200]:
df = pd.read_csv("Messy_Data.csv")

In [201]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,2/10/1995,Drama,142,USA,R,Frank Darabont,NaN,"$28,815,245",2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,"$246,120,974",1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,"$1,005,455,211",2.241.615,9
3,tt0071562,The Godfather: Part II,9/25/1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,10/28/1994,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,"$222,831,817",1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,3/21/1974,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,"$156,000,000",236.285,7.5
97,tt0082096,Das Boot,3/18/1982,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,"$11,487,676",226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,12/20/1965,Western,132,Italy,NaN,Sergio Leone,NaN,"$15,000,000",226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,10/21/2011,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,"$22,926,076",214.165,7.4
100,tt0045152,Singin' in the Rain,2/5/1953,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,"$1,864,182",213.152,7.4

In [202]:
df.head(20)

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,2/10/1995,Drama,142,USA,R,Frank Darabont,NaN,"$28,815,245",2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,"$246,120,974",1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,"$1,005,455,211",2.241.615,9
3,tt0071562,The Godfather: Part II,9/25/1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,10/28/1994,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,"$222,831,817",1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,22-Feb-04,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,NaN,"$1,142,271,098",1.604.280,8.9
6,tt0108052,Schindler's List,3/11/1994,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,NaN,"$322,287,794",1.183.248,8.9
7,tt0050083,12 Angry Men,9/4/1957,"Crime, Drama",96,USA,Not Rated,Sidney Lumet,NaN,$576,668.473,8.9
8,tt1375666,Inception,9/24/2010,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,NaN,"$869,784,991",2.002.816,8..8
9,tt0137523,Fight Club,10/29/1999,Drama,Inf,UK,R,David Fincher,NaN,"$101,218,804",1.807.440,8.8
10,tt0109830,Forrest Gump,10/6/1994,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,NaN,"$678,229,452",1.755.490,8:08
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,1/18/2002,"Action, Adventure, Drama",178c,New Zesland,PG-13,Peter Jackson,NaN,"$887,934,303",1.619.920,8.8
12,tt0060196,"Il buono, il brutto, il cattivo",23rd December of 1966,Western,161,Italy,Approved,Sergio Leone,NaN,"$25,252,481",672.499,8.8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0133093,The Matrix,5/7/1999,"Action, Sci-Fi",NaN,USA,R,"Lana Wachowski, Lilly Wachowski",NaN,"$465,718,588",1.632.315,8.7
15,tt0167261,The Lord of the Rings: The Two Towers,1/16/2003,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,NaN,"$951,227,416",1.449.778,8.7.
16,tt0080684,Star Wars: Episode V - The Empire Strikes Back,9/19/1980,"Action, Adventure, Fantasy",Not Applicable,USA,PG,Irvin Kershner,NaN,"$549,265,501",1.132.073,"8,7e-0"
17,tt0099685,Goodfellas,9/20/1990,"Biography, Crime, Drama",146,USA,R,Martin Scorsese,NaN,"$46,879,633",991.505,8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,18/11/1976,Drama,-,USA,R,Milos Forman,NaN,"$108,997,629",891.071,8.7
19,tt0816692,Interstellar,11/6/2014,"Adventure, Drama, Sci-Fi",169,USA,PG-13,Christopher Nolan,NaN,"$696,742,056",1.449.256,8.6

In [203]:
df = df.drop(labels=13, axis=0)
df.reset_index(drop=True, inplace=True)

In [204]:
df.head(20)

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,2/10/1995,Drama,142,USA,R,Frank Darabont,NaN,"$28,815,245",2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,"$246,120,974",1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,"$1,005,455,211",2.241.615,9
3,tt0071562,The Godfather: Part II,9/25/1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,10/28/1994,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,"$222,831,817",1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,22-Feb-04,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,NaN,"$1,142,271,098",1.604.280,8.9
6,tt0108052,Schindler's List,3/11/1994,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,NaN,"$322,287,794",1.183.248,8.9
7,tt0050083,12 Angry Men,9/4/1957,"Crime, Drama",96,USA,Not Rated,Sidney Lumet,NaN,$576,668.473,8.9
8,tt1375666,Inception,9/24/2010,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,NaN,"$869,784,991",2.002.816,8..8
9,tt0137523,Fight Club,10/29/1999,Drama,Inf,UK,R,David Fincher,NaN,"$101,218,804",1.807.440,8.8
10,tt0109830,Forrest Gump,10/6/1994,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,NaN,"$678,229,452",1.755.490,8:08
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,1/18/2002,"Action, Adventure, Drama",178c,New Zesland,PG-13,Peter Jackson,NaN,"$887,934,303",1.619.920,8.8
12,tt0060196,"Il buono, il brutto, il cattivo",23rd December of 1966,Western,161,Italy,Approved,Sergio Leone,NaN,"$25,252,481",672.499,8.8
13,tt0133093,The Matrix,5/7/1999,"Action, Sci-Fi",NaN,USA,R,"Lana Wachowski, Lilly Wachowski",NaN,"$465,718,588",1.632.315,8.7
14,tt0167261,The Lord of the Rings: The Two Towers,1/16/2003,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,NaN,"$951,227,416",1.449.778,8.7.
15,tt0080684,Star Wars: Episode V - The Empire Strikes Back,9/19/1980,"Action, Adventure, Fantasy",Not Applicable,USA,PG,Irvin Kershner,NaN,"$549,265,501",1.132.073,"8,7e-0"
16,tt0099685,Goodfellas,9/20/1990,"Biography, Crime, Drama",146,USA,R,Martin Scorsese,NaN,"$46,879,633",991.505,8.7
17,tt0073486,One Flew Over the Cuckoo's Nest,18/11/1976,Drama,-,USA,R,Milos Forman,NaN,"$108,997,629",891.071,8.7
18,tt0816692,Interstellar,11/6/2014,"Adventure, Drama, Sci-Fi",169,USA,PG-13,Christopher Nolan,NaN,"$696,742,056",1.449.256,8.6
19,tt0114369,Se7en,12/15/1995,"Crime, Drama, Mystery",127,USA,R,David Fincher,NaN,"$327,333,559",1.402.015,8.6

In [205]:
df.drop(["Unnamed: 8"], axis = 1 , inplace= True)

In [206]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,2/10/1995,Drama,142,USA,R,Frank Darabont,"$28,815,245",2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,"$246,120,974",1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,"$1,005,455,211",2.241.615,9
3,tt0071562,The Godfather: Part II,9/25/1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,10/28/1994,"Crime, Drama",,USA,R,Quentin Tarantino,"$222,831,817",1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,3/21/1974,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,"$156,000,000",236.285,7.5
96,tt0082096,Das Boot,3/18/1982,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,"$11,487,676",226.427,7.5
97,tt0059578,Per qualche dollaro in piÃ¹,12/20/1965,Western,132,Italy,NaN,Sergio Leone,"$15,000,000",226.039,7.4
98,tt1832382,Jodaeiye Nader az Simin,10/21/2011,Drama,123,Iran,PG-13,Asghar Farhadi,"$22,926,076",214.165,7.4
99,tt0045152,Singin' in the Rain,2/5/1953,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,"$1,864,182",213.152,7.4

In [207]:
df['Release year'] = pd.to_datetime(df['Release year'])
df['Release Date'] = df['Release year'].dt.strftime('%m-%d-%Y')

C:\Users\Ammar\AppData\Local\Temp\ipykernel_7432\1068367060.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Release year'] = pd.to_datetime(df['Release year'])

In [208]:
df.head(20)

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score,Release Date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,"$28,815,245",2.278.845,9.3,02-10-1995
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,"$246,120,974",1.572.674,9.2,09-21-1972
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,"$1,005,455,211",2.241.615,9,07-23-2008
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",09-25-1975
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,"$222,831,817",1.780.147,"8,9f",10-28-1994
5,tt0167260,The Lord of the Rings: The Return of the King,2004-02-22,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,"$1,142,271,098",1.604.280,8.9,02-22-2004
6,tt0108052,Schindler's List,1994-03-11,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,"$322,287,794",1.183.248,8.9,03-11-1994
7,tt0050083,12 Angry Men,1957-09-04,"Crime, Drama",96,USA,Not Rated,Sidney Lumet,$576,668.473,8.9,09-04-1957
8,tt1375666,Inception,2010-09-24,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,"$869,784,991",2.002.816,8..8,09-24-2010
9,tt0137523,Fight Club,1999-10-29,Drama,Inf,UK,R,David Fincher,"$101,218,804",1.807.440,8.8,10-29-1999
10,tt0109830,Forrest Gump,1994-10-06,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,"$678,229,452",1.755.490,8:08,10-06-1994
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,"Action, Adventure, Drama",178c,New Zesland,PG-13,Peter Jackson,"$887,934,303",1.619.920,8.8,01-18-2002
12,tt0060196,"Il buono, il brutto, il cattivo",1966-12-23,Western,161,Italy,Approved,Sergio Leone,"$25,252,481",672.499,8.8,12-23-1966
13,tt0133093,The Matrix,1999-05-07,"Action, Sci-Fi",NaN,USA,R,"Lana Wachowski, Lilly Wachowski","$465,718,588",1.632.315,8.7,05-07-1999
14,tt0167261,The Lord of the Rings: The Two Towers,2003-01-16,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,"$951,227,416",1.449.778,8.7.,01-16-2003
15,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980-09-19,"Action, Adventure, Fantasy",Not Applicable,USA,PG,Irvin Kershner,"$549,265,501",1.132.073,"8,7e-0",09-19-1980
16,tt0099685,Goodfellas,1990-09-20,"Biography, Crime, Drama",146,USA,R,Martin Scorsese,"$46,879,633",991.505,8.7,09-20-1990
17,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,Drama,-,USA,R,Milos Forman,"$108,997,629",891.071,8.7,11-18-1976
18,tt0816692,Interstellar,2014-11-06,"Adventure, Drama, Sci-Fi",169,USA,PG-13,Christopher Nolan,"$696,742,056",1.449.256,8.6,11-06-2014
19,tt0114369,Se7en,1995-12-15,"Crime, Drama, Mystery",127,USA,R,David Fincher,"$327,333,559",1.402.015,8.6,12-15-1995

In [209]:
df['Income'] = df['Income'].replace(',','.',regex=True)
df["Income"].replace("$ 4o8.035.783", "$ 408.035.783", inplace = True)
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score,Release Date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$28.815.245,2.278.845,9.3,02-10-1995
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$246.120.974,1.572.674,9.2,09-21-1972
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$1.005.455.211,2.241.615,9,07-23-2008
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,$ 408.035.783,1.098.714,"9,.0",09-25-1975
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$222.831.817,1.780.147,"8,9f",10-28-1994
...,...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$156.000.000,236.285,7.5,03-21-1974
96,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$11.487.676,226.427,7.5,03-18-1982
97,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$15.000.000,226.039,7.4,12-20-1965
98,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$22.926.076,214.165,7.4,10-21-2011
99,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$1.864.182,213.152,7.4,02-05-1953

In [210]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score,Release Date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$28.815.245,2.278.845,9.3,02-10-1995
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$246.120.974,1.572.674,9.2,09-21-1972
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$1.005.455.211,2.241.615,9,07-23-2008
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,$ 408.035.783,1.098.714,"9,.0",09-25-1975
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$222.831.817,1.780.147,"8,9f",10-28-1994
...,...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$156.000.000,236.285,7.5,03-21-1974
96,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$11.487.676,226.427,7.5,03-18-1982
97,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$15.000.000,226.039,7.4,12-20-1965
98,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$22.926.076,214.165,7.4,10-21-2011
99,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$1.864.182,213.152,7.4,02-05-1953

In [211]:
df["Country"].replace("US", "USA", inplace= True)

In [212]:
df["Score"] = df['Score'].replace(',','.', regex=True)
df["Score"] = df['Score'].replace('f','',regex=True)
df["Score"] = df['Score'].replace('e','',regex=True)
df["Score"] = df['Score'].replace('-','',regex=True)
df['Score'] = df['Score'].replace(':','.',regex=True)
df["Score"] = df['Score'].str.replace('9..0','9.0')
df["Score"] = df['Score'].str.replace('8..8','8.8')
df["Score"] = df['Score'].str.replace('8.7.','8.7')
df["Score"] = pd.to_numeric(df["Score"], errors= "coerce")

C:\Users\Ammar\AppData\Local\Temp\ipykernel_7432\1684493358.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Score"] = df['Score'].str.replace('9..0','9.0')
C:\Users\Ammar\AppData\Local\Temp\ipykernel_7432\1684493358.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Score"] = df['Score'].str.replace('8..8','8.8')
C:\Users\Ammar\AppData\Local\Temp\ipykernel_7432\1684493358.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Score"] = df['Score'].str.replace('8.7.','8.7')

In [213]:
df.drop(["Release year"], axis = 1 , inplace= True)

In [214]:
df

,IMBD title ID,Original title,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score,Release Date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$28.815.245,2.278.845,9.3,02-10-1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$246.120.974,1.572.674,9.2,09-21-1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$1.005.455.211,2.241.615,9.0,07-23-2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,$ 408.035.783,1.098.714,9.0,09-25-1975
4,tt0110912,Pulp Fiction,"Crime, Drama",,USA,R,Quentin Tarantino,$222.831.817,1.780.147,8.9,10-28-1994
...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$156.000.000,236.285,7.5,03-21-1974
96,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$11.487.676,226.427,7.5,03-18-1982
97,tt0059578,Per qualche dollaro in piÃ¹,Western,132,Italy,NaN,Sergio Leone,$15.000.000,226.039,7.4,12-20-1965
98,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$22.926.076,214.165,7.4,10-21-2011
99,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$1.864.182,213.152,7.4,02-05-1953

In [215]:
df = df[["IMBD title ID", "Original title", "Release Date", "Genre", "Duration", "Country", "Content Rating", "Director", "Income", " Votes ", "Score"]]
df

,IMBD title ID,Original title,Release Date,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,02-10-1995,Drama,142,USA,R,Frank Darabont,$28.815.245,2.278.845,9.3
1,tt0068646,The Godfather,09-21-1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$246.120.974,1.572.674,9.2
2,tt0468569,The Dark Knight,07-23-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$1.005.455.211,2.241.615,9.0
3,tt0071562,The Godfather: Part II,09-25-1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,$ 408.035.783,1.098.714,9.0
4,tt0110912,Pulp Fiction,10-28-1994,"Crime, Drama",,USA,R,Quentin Tarantino,$222.831.817,1.780.147,8.9
...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,03-21-1974,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$156.000.000,236.285,7.5
96,tt0082096,Das Boot,03-18-1982,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$11.487.676,226.427,7.5
97,tt0059578,Per qualche dollaro in piÃ¹,12-20-1965,Western,132,Italy,NaN,Sergio Leone,$15.000.000,226.039,7.4
98,tt1832382,Jodaeiye Nader az Simin,10-21-2011,Drama,123,Iran,PG-13,Asghar Farhadi,$22.926.076,214.165,7.4
99,tt0045152,Singin' in the Rain,02-05-1953,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$1.864.182,213.152,7.4

In [216]:
df['Duration'] = df['Duration'].replace('Inf','')
df["Duration"] = pd.to_numeric(df["Duration"], errors= "coerce")
meanDuration = df['Duration'].mean()
df["Duration"].fillna(meanDuration, inplace= True)

In [217]:
df['Content Rating'].fillna("Not Rated", inplace= True)
df

,IMBD title ID,Original title,Release Date,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,02-10-1995,Drama,142.000000,USA,R,Frank Darabont,$28.815.245,2.278.845,9.3
1,tt0068646,The Godfather,09-21-1972,"Crime, Drama",175.000000,USA,R,Francis Ford Coppola,$246.120.974,1.572.674,9.2
2,tt0468569,The Dark Knight,07-23-2008,"Action, Crime, Drama",152.000000,USA,PG-13,Christopher Nolan,$1.005.455.211,2.241.615,9.0
3,tt0071562,The Godfather: Part II,09-25-1975,"Crime, Drama",220.000000,USA,R,Francis Ford Coppola,$ 408.035.783,1.098.714,9.0
4,tt0110912,Pulp Fiction,10-28-1994,"Crime, Drama",134.892473,USA,R,Quentin Tarantino,$222.831.817,1.780.147,8.9
...,...,...,...,...,...,...,...,...,...,...,...
95,tt0070735,The Sting,03-21-1974,"Comedy, Crime, Drama",129.000000,USA,PG,George Roy Hill,$156.000.000,236.285,7.5
96,tt0082096,Das Boot,03-18-1982,"Adventure, Drama, Thriller",149.000000,West Germany,R,Wolfgang Petersen,$11.487.676,226.427,7.5
97,tt0059578,Per qualche dollaro in piÃ¹,12-20-1965,Western,132.000000,Italy,Not Rated,Sergio Leone,$15.000.000,226.039,7.4
98,tt1832382,Jodaeiye Nader az Simin,10-21-2011,Drama,123.000000,Iran,PG-13,Asghar Farhadi,$22.926.076,214.165,7.4
99,tt0045152,Singin' in the Rain,02-05-1953,"Comedy, Musical, Romance",103.000000,USA,Not Rated,Stanley Donen,$1.864.182,213.152,7.4

In [218]:
df.to_csv('new.csv',index=False)